$font-size-base: 1.0rem;
$primary: #b60404;
$secondary: #536169;
$light: #536169;
$dark: #1c2023;

$navbar-padding-y: 1rem * 0.3;
$navbar-light-color: #e9e9e9;
$navbar-light-active-color: #ffffff;
$navbar-light-hover-color: #c7c7c7;
$navbar-light-icon-color: #ffffff;
$navbar-light-toggler-border-color: none;
$navbar-light-toggler-border-widht: none;
$navbar-toggler-focus-width: 0;
$body-bg: $secondary;
$table-bg: white;

$font-family-base: '__Lato_6d65e1';

@import "bootstrap/scss/bootstrap";
@import "bootstrap-icons/font/bootstrap-icons.scss";

/* width */
::-webkit-scrollbar {
	display: none;
}

.page-container {
	overflow: scroll;
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	scroll-behavior: smooth;
}

html {
	overflow: hidden;
}

.scroll-snap-pro {
	scroll-snap-type: y proximity;
	-webkit-overflow-scrolling: touch;
}

.scroll-snap-man {
	scroll-snap-type: y mandatory;
	-webkit-overflow-scrolling: touch;
}

h6, .h6, h5, .h5, h4, .h4, h3, .h3, h2, .h2, h1, .h1 {
	font-family: '__Poppins_0f2b3c';
}

.container-fluid {
	padding: 0
}

.dimmed-video {
	opacity: 0.5;
}

.dimmed-video-2 {
	opacity: 0.8;
}

.scroll-snap-center {
	scroll-snap-align: center;
}

.scroll-snap-start {
	scroll-snap-align: start;
}

.scroll-snap-end {
	scroll-snap-align: end;
}

.difference {
	mix-blend-mode: difference;
}

.home-infra-banner {
	.features {
		display: flex;
		flex-direction: column;
	}

	.column {
		background-color: #e2e9ed;
	}
}

.action-button {
	color: #fff;
	border-color: #fff;
}

.home-hero {
	max-width: 50rem;
}

.section-header {
	max-width: 50rem;
}

.top-navigation {
	padding: 0;
	transition: all .2s ease-in;

	&> * {
		transition: all .2s ease-in;
	}
	
	.brand {
		padding-top: 0.5rem;
		padding-bottom: 0.55rem;
	}
	.link {
		&:last-child {
			margin-right: 1.1rem !important;
		}

		color: #eaeaea;
	}

	.inverted {
		background-color: #536169;
	}

	.top-navigation-container {
		transition: all .2s ease-in;
	}
}

.navbar-collapse.collapse.show,
.navbar-collapse.collapsing {

	.nav-link {
		padding-left: 1.0rem;
	}

	.link {
		font-size: 1.25rem;
		font-weight: 300;
	}

	.mobile-menu-container {
		padding-bottom: 1.5rem;

		.topline {
			margin-bottom: 0.8rem;
			min-height: 0.4rem;
			background-color: $primary;
		}
	}
}

.nav-inverted {
	background-color: #536169;
	transition: all .2s ease-in;
}

.nav-regular {
	transition: all .2s ease-in;
}

.footer {
	text-align: center;
	
	.contacts {
		color: #93a7b3;
		display: flex;
		flex-direction: column;

		.icon {
			vertical-align: -0.3rem;
			i {
					font-size: 1.3rem;
			}
		}
	}

		.info {
			max-width: 20rem;
		}

	.nav {
		.nav-link { 
			color: #e9e9e9;
			padding: 0.2rem 0.5rem;
		}
	}

	.terms {
		color: #93a7b3;
		a {
			color: #b5cedd;
		}
	}
}

.icon-item {
	display: flex;
	flex-direction: row;
	align-items: center;

	.icon {
		font-size: 2rem;
		padding-right: 0.6rem;
		justify-content: center;
		align-content: center;
		flex-direction: column;
	}

	.body {
		display: block;
		max-height: 3.6em;
		text-overflow: ellipsis;
		word-wrap: break-word;
		overflow: hidden;
	}
}

.navbar-toggler-icon {
	height: 26px;
	width: 31px;
}

.fullscreen-loader {
	z-index: 10000;
}

.menu-span {
	background-color: white;
	padding-top: 3.3rem;
}

.home-aircrafts-banner {
	background-image: url("../public/images/home-aircrafts.jpg");
	background-position: 50% 0;
	background-size: cover;
}

.home-aircraft-block {
	padding: 0.5rem 1.0rem;
	border-color: white;
	border-style: solid;
	border-width: 1px;
	border-radius: var(--bs-border-radius);
	text-align: left;
	color: white;
	text-decoration: none;
	display: block;
	min-width: 30%;
	transition: all .2s ease-in;

	&:hover {
		color: white;
    background-color: $primary;
    border-color: $primary;
	}
	
	.lead {
		font-size: 1rem;
	}

	h4 {
		margin-bottom: 0.1rem;
	}
}

@include media-breakpoint-up(lg) {
	.hamburger {
		display: none;
	}
}

@include media-breakpoint-down(md) {
	.home-aircrafts-banner {
		background-image: url("../public/images/home-aircrafts-mobile.jpg");
		background-position: 50% 0;
		background-size: cover;

		.aircrafts {
			flex-direction: column !important;
		}
	}

	.home-aircraft-block {
		display: flex;
		align-items: center;
		min-width: auto;
		
		.lead {
			font-size: 1rem;
			padding-left: 0.8rem;
		}
	}
}

@include media-breakpoint-down(sm) {
	.home-aircrafts-banner {
		background-image: url("../public/images/home-aircrafts-mobile.jpg");
		background-position: 50% 0;
		background-size: cover;

		.aircrafts {
			flex-direction: column !important;
		}
	}

	.home-aircraft-block {
		min-width: auto;
		width: 100%;
		flex-direction: row-reverse;
		align-items: left;
		justify-content: left;

		.lead {
			font-size: 1rem;
		}

		h4 {
			text-align: right;
		}
	}
}

@include media-breakpoint-up(xxl) {
	.home-aircrafts-banner {
		background-image: url("../public/images/home-aircrafts-xl.jpg");
		background-position: 50% 0;
		background-size: cover;
	}
}

.dimmer {
	z-index: 1010;
	opacity: 0.0;
	transition: all 0.2s 0.2s ease-in-out;
}

.visible {
	opacity: 0.8;
	transition: all 0.2s 0.2s ease-in-out;
}

.page-fortuna {
	.head-image {
		width: 100%;
	}

	h1.head {
		font-size: 5.1rem;
	}

	@include media-breakpoint-down(md) { 
		h1.head {
			font-size: 4.0rem;
		}
	}

	@include media-breakpoint-down(sm) { 
		h1.head {
			font-size: 3.1rem;
		}

		.head-title-block {
			padding-left: 15% !important;
			padding-right: 15% !important;
		}
	}
}

.page-beetle {
	.head-image {
		width: 100%;
	}

	h1.head {
		font-size: 5.1rem;
	}

	@include media-breakpoint-down(md) { 
		h1.head {
			font-size: 4.0rem;
		}
	}

	@include media-breakpoint-down(sm) { 
		h1.head {
			font-size: 3.1rem;
		}

		.head-title-block {
			max-width: 80%;
		}
	}
}

.page-condor {
	.head-image {
		width: 100%;
	}

	h1.head {
		font-size: 5.1rem;
	}

	@include media-breakpoint-down(md) { 
		h1.head {
			font-size: 4.0rem;
		}
	}

	@include media-breakpoint-down(sm) { 
		h1.head {
			font-size: 3.1rem;
		}

		.head-title-block {
			max-width: 90%;
		}
	}
}

.spec-block {
	width: 33.33%;	
	border-radius: 0.3rem;
	overflow: hidden;

	display: flex;
	flex-direction: column;
	justify-content: end;

	border: 0.1rem solid black;

	.image {
		background-size: cover;
		width: 100%;
		aspect-ratio: 4/3;

		&.image-fortuna-engines {
			background-image: url("../public/images/fortuna/blueprints/engines.png");
		}

		&.image-fortuna-seats {
			background-image: url("../public/images/fortuna/blueprints/seats.png");
		}

		&.image-fortuna-bottom {
			background-image: url("../public/images/fortuna/blueprints/bottom.png");
		}

		&.image-fortuna-take-off {
			background-image: url("../public/images/fortuna/blueprints/take-off.png");
		}

		&.image-fortuna-top-part {
			background-image: url("../public/images/fortuna/blueprints/top-part.png");
		}

		&.image-fortuna-controller {
			background-image: url("../public/images/fortuna/blueprints/controller.png");
		}

		&.image-condor-motor {
			background-image: url("../public/images/condor/blueprints/motor.png");
		}

		&.image-condor-bottom {
			background-image: url("../public/images/condor/blueprints/bottom.png");
		}

		&.image-condor-engines {
			background-image: url("../public/images/condor/blueprints/engines.png");
		}

		&.image-condor-top-part {
			background-image: url("../public/images/condor/blueprints/top-part.png");
		}

		&.image-condor-seats {
			background-image: url("../public/images/condor/blueprints/seats.png");
		}

		&.image-beetle-seats {
			background-image: url("../public/images/beetle/blueprints/seats.png");
		}

		&.image-beetle-bottom {
			background-image: url("../public/images/beetle/blueprints/bottom.png");
		}

		&.image-beetle-top {
			background-image: url("../public/images/beetle/blueprints/top.png");
		}

		&.image-beetle-parachute {
			background-image: url("../public/images/beetle/blueprints/parachute.png");
		}

		&.image-beetle-take-off {
			background-image: url("../public/images/beetle/blueprints/take-off.png");
		}

		&.image-beetle-top-part {
			background-image: url("../public/images/beetle/blueprints/top-part.png");
		}
	}

	.title-container {
		border-top: 0.1rem solid black;
		color: $black;
	}
}

.blueprint-image {
	width: 100%;
}

@include media-breakpoint-only(md) {
	.spec-block {
		.title-container {
			.icon-item .body {
				display: flex;
				min-height: 4.6rem;
			}
		}
	}
}

@include media-breakpoint-down(md) { 
	.specs-row  {
		flex-direction: column !important;
		width: 100%;

		.spec-block {
			width: 100%;
		}
	}
}

.specs {
	th {
		min-width: 10rem;
	}

	td {
		min-width: 15rem;
		text-align: right;
	}

	table {
		min-width: 30%;
	}
}

@include media-breakpoint-down(lg) { 
	.specs {
		flex-direction: column !important;
		gap: 0 !important;

		table {
			margin-bottom: 0;
			tr {
				display: flex;
			}
			th {
				min-width: 50%;
				max-width: 50%;
			}
			td {
				min-width: 50%;
				max-width: 50%;
			}
		}
	}
}

.blueprint {
	text-align: center;
	img {
		max-height: 30rem;
	}
}

.scroll-more {
	opacity: 0.3;
}

@include media-breakpoint-up(lg) { 
	.tech-hero-block {
		max-width: 50rem;
	}
}

.ai-section {
	background-image: url("../public/images/technology/ai.jpg");
	background-size: cover;
}

.ai-icon-item {
	display: flex;
	flex-direction: row;
	align-items: center;
	border: 1px solid white;
	padding: 1rem;
	border-radius: var(--bs-border-radius-lg);
	max-width: 25rem;
	min-width: 25rem;

	.icon {
		font-size: 2.5rem;
		padding-right: 1rem;
		justify-content: center;
		align-content: center;
		flex-direction: column;
	}

	.body {
		display: block;
		text-overflow: ellipsis;
		word-wrap: break-word;
		overflow: hidden;

		text-align: left;
	}
}

.safety-item {
	max-width: 25rem;
	min-width: 25rem;
	background-position: 50% 0%;
	background-size: cover;
	border-radius: var(--bs-border-radius);
	overflow: hidden;
	
	.head-image {
		max-height: 20rem;
		min-height: 20rem;
		overflow: hidden;
	}

	.title {
		padding: 1rem;
		background-color: rgba($color: #000000, $alpha: 0.5);
		min-height:7rem;

		.heading {
			font-weight: bold;
			margin-bottom: 0.5rem;
		}
	}

	&.monitoring {
		background-image: url("../public/images/technology/condor-in-clouds.jpg");
	}

	&.escape {
		background-image: url("../public/images/technology/seat.jpg");
	}

	&.parachute {
		background-image: url("../public/images/technology/parachute.jpg");
	}
}

@include media-breakpoint-down(md) { 
	.ai-icon-item {
		max-width: 100%;
		min-width: 100%;
	}

	.safety-item {
		max-width: 100%;
		min-width: 100%;

		.head-image {
			max-height: 15rem;
			min-height: 15rem;
			overflow: hidden;
		}
	}
}

.apps-section {
	background-image: url("../public/images/technology/air-taxi.jpg");
	background-size: cover;
	background-position: 50% 0;
}

.apps-container {
	.head-image {
		width: 100%;
		display: none;
	}

	.inner-container {
		width: 100%;
		min-height: 40rem;
		background-image: url("../public/images/technology/app.png");
		background-position: 50% 0;
		background-repeat: no-repeat;
		background-size: 100%;
	}
}

.app-icon-item {
	display: flex;
	flex-direction: row;
	align-items: center;
	background: rgba($color: #000000, $alpha: 0.5);
	padding: 1rem;
	border-radius: var(--bs-border-radius-lg);
	max-width: 25rem;
	min-width: 25rem;
	min-height: 8rem;

	.icon {
		font-size: 2.5rem;
		padding-right: 1rem;
		justify-content: center;
		align-content: center;
		flex-direction: column;
	}

	.body {
		display: block;
		text-overflow: ellipsis;
		word-wrap: break-word;
		overflow: hidden;

		text-align: left;
	}

	&.simple {
		.icon {
			display: none;
		}
	}
}

@include media-breakpoint-down(xl) { 
	.apps-container {
		.inner-container {
			background-position: 50% 100%;
		}
	}

	.app-icon-item {
		max-width: 20rem;
		min-width: 20rem;
	}
}
	
@include media-breakpoint-down(md) {
	.app-icon-item {
		max-width: 100%;
		min-width: 100%;
		flex-direction: column;
		min-height: 0;

		.body {
			text-align: center;
		}
	}
	.apps-container {
		.inner-container {
			min-height: 0;
			background-image: none;

			.head-image {
				width: 100%;
				margin-bottom: 0.5rem;
				display: block;
			}
		}
	}
}

@include media-breakpoint-down(md) {
	.apps-container {
		.inner-container {
			.head-image {
				width: 100%;
				display: flex;

				img {
					width: 65%;
				}
			}
		}
	}
}

@include media-breakpoint-down(md) {
	.apps-section {
		background-image: url("../public/images/technology/air-taxi-mobile.jpg");
	}
	.apps-container {
		.inner-container {
			margin-bottom: 5rem;
		}
	}
}