$font-size-base: 1.0rem;
$primary: #b60404;
$secondary: #536169;
$light: #536169;
$dark: #1c2023;

$navbar-padding-y: 1rem * 0.3;
$navbar-light-color: #e9e9e9;
$navbar-light-active-color: #ffffff;
$navbar-light-hover-color: #c7c7c7;
$navbar-light-icon-color: #ffffff;
$navbar-light-toggler-border-color: none;
$navbar-light-toggler-border-widht: none;
$navbar-toggler-focus-width: 0;
$body-bg: $secondary;
$table-bg: white;

$font-family-base: '__Lato_6d65e1';

@import "bootstrap/scss/bootstrap";
@import "bootstrap-icons/font/bootstrap-icons.scss";

.scroll-snap-y {
	scroll-snap-type: y proximity;
}

h6, .h6, h5, .h5, h4, .h4, h3, .h3, h2, .h2, h1, .h1 {
	font-family: '__Poppins_0f2b3c';
}

.container-fluid {
	padding: 0
}

.dimmed-video {
	opacity: 0.5;
}

.dimmed-video-2 {
	opacity: 0.8;
}

.scroll-snap-center {
	scroll-snap-align: center;
}

.scroll-snap-start {
	scroll-snap-align: start;
}

.scroll-snap-end {
	scroll-snap-align: end;
}

.difference {
	mix-blend-mode: difference;
}

.home-infra-banner {
	.features {
		display: flex;
		flex-direction: column;
	}

	.column {
		background-color: #e2e9ed;
	}
}

.action-button {
	color: #fff;
	border-color: #fff;
}

.home-hero {
	max-width: 50rem;
}

.section-header {
	max-width: 50rem;
}

.top-navigation {
	padding: 0;
	transition: all .2s ease-in;

	&> * {
		transition: all .2s ease-in;
	}
	
	.brand {
		padding-top: 0.5rem;
		padding-bottom: 0.55rem;
	}
	.link {
		&:last-child {
			margin-right: 1.1rem !important;
		}

		color: #eaeaea;
	}

	.inverted {
		background-color: #536169;
	}

	.top-navigation-container {
		transition: all .2s ease-in;
	}
}

.navbar-collapse.collapse.show,
.navbar-collapse.collapsing {

	.nav-link {
		padding-left: 1.0rem;
	}

	.link {
		font-size: 1.25rem;
		font-weight: 300;
	}

	.mobile-menu-container {
		padding-bottom: 1.5rem;

		.topline {
			margin-bottom: 0.8rem;
			min-height: 0.4rem;
			background-color: $primary;
		}
	}
}

.nav-inverted {
	background-color: #536169;
	transition: all .2s ease-in;
}

.nav-regular {
	transition: all .2s ease-in;
}

.footer {
	text-align: center;
	
	.contacts {
		color: #93a7b3;
		display: flex;
		flex-direction: column;

		.icon {
			vertical-align: -0.3rem;
			i {
					font-size: 1.3rem;
			}
		}
	}

		.info {
			max-width: 20rem;
		}

	.nav {
		.nav-link { 
			color: #e9e9e9;
			padding: 0.2rem 0.5rem;
		}
	}

	.terms {
		color: #93a7b3;
		a {
			color: #b5cedd;
		}
	}
}

.icon-item {
	display: flex;
	flex-direction: row;
	align-items: center;

	.icon {
		font-size: 2rem;
		padding-right: 0.6rem;
		justify-content: center;
		align-content: center;
		flex-direction: column;
	}

	.body {
		display: block;
		max-height: 3.6em;
		text-overflow: ellipsis;
		word-wrap: break-word;
		overflow: hidden;
	}
}

.navbar-toggler-icon {
	height: 26px;
	width: 31px;
}

.fullscreen-loader {
	z-index: 10000;
}

.menu-span {
	background-color: white;
	padding-top: 3.3rem;
}

.home-aircrafts-banner {
	background-image: url("../public/images/home-aircrafts.jpg");
	background-position: 50% 0;
	background-size: cover;
}

.home-aircraft-block {
	padding: 0.5rem 1.0rem;
	border-color: white;
	border-style: solid;
	border-width: 1px;
	border-radius: var(--bs-border-radius);
	text-align: left;
	color: white;
	text-decoration: none;
	display: block;
	min-width: 30%;
	transition: all .2s ease-in;

	&:hover {
		color: white;
    background-color: $primary;
    border-color: $primary;
	}
	
	.lead {
		font-size: 1rem;
	}

	h4 {
		margin-bottom: 0.1rem;
	}
}

@include media-breakpoint-up(lg) {
	.hamburger {
		display: none;
	}
}

@include media-breakpoint-down(md) {
	.home-aircrafts-banner {
		background-image: url("../public/images/home-aircrafts-mobile.jpg");
		background-position: 50% 0;
		background-size: cover;

		.aircrafts {
			flex-direction: column !important;
		}
	}

	.home-aircraft-block {
		display: flex;
		flex-direction: row-reverse;
		align-items: center;
		min-width: auto;
		
		.lead {
			font-size: 1rem;
			padding-left: 0.8rem;
		}
	}
}

@include media-breakpoint-down(sm) {
	.home-aircrafts-banner {
		background-image: url("../public/images/home-aircrafts-mobile.jpg");
		background-position: 50% 0;
		background-size: cover;

		.aircrafts {
			flex-direction: column !important;
		}
	}

	.home-aircraft-block {
		min-width: auto;
		
		.lead {
			font-size: 1rem;
		}
	}
}

@include media-breakpoint-up(xxl) {
	.home-aircrafts-banner {
		background-image: url("../public/images/home-aircrafts-xl.jpg");
		background-position: 50% 0;
		background-size: cover;
	}
}

.dimmer {
	z-index: 1010;
	opacity: 0.0;
	transition: all 0.2s 0.2s ease-in-out;
}

.visible {
	opacity: 0.8;
	transition: all 0.2s 0.2s ease-in-out;
}

.page-fortuna {
	.head-image {
		width: 100%;
	}

	h1.head {
		font-size: 5.1rem;
	}

	@include media-breakpoint-down(md) { 
		h1.head {
			font-size: 4.0rem;
		}
	}

	@include media-breakpoint-down(sm) { 
		h1.head {
			font-size: 3.1rem;
		}

		.head-title-block {
			max-width: 80%;
		}
	}
}

.page-beetle {
	.head-image {
		width: 100%;
	}

	h1.head {
		font-size: 5.1rem;
	}

	@include media-breakpoint-down(md) { 
		h1.head {
			font-size: 4.0rem;
		}
	}

	@include media-breakpoint-down(sm) { 
		h1.head {
			font-size: 3.1rem;
		}

		.head-title-block {
			max-width: 80%;
		}
	}
}

.page-condor {
	.head-image {
		width: 100%;
	}

	h1.head {
		font-size: 5.1rem;
	}

	@include media-breakpoint-down(md) { 
		h1.head {
			font-size: 4.0rem;
		}
	}

	@include media-breakpoint-down(sm) { 
		h1.head {
			font-size: 3.1rem;
		}

		.head-title-block {
			max-width: 90%;
		}
	}
}

.spec-block {
	width: 33.33%;	
	border-radius: 0.3rem;
	overflow: hidden;

	display: flex;
	flex-direction: column;
	justify-content: end;

	border: 0.1rem solid black;

	.image {
		background-image: url("../public/images/fortuna/blueprints/engines.png");
		background-size: cover;
		width: 100%;
		aspect-ratio: 4/3;

		&.image-engines {
			background-image: url("../public/images/fortuna/blueprints/engines.png");
		}

		&.image-seats {
			background-image: url("../public/images/fortuna/blueprints/seats.png");
		}

		&.image-bottom {
			background-image: url("../public/images/fortuna/blueprints/bottom.png");
		}

		&.image-take-off {
			background-image: url("../public/images/fortuna/blueprints/take-off.png");
		}

		&.image-top-part {
			background-image: url("../public/images/fortuna/blueprints/top-part.png");
		}

		&.image-controller {
			background-image: url("../public/images/fortuna/blueprints/controller.png");
		}
	}

	.title-container {
		border-top: 0.1rem solid black;
		color: $black;
	}
}

.blueprint-image {
	width: 100%;
}

@include media-breakpoint-only(md) {
	.spec-block {
		.title-container {
			.icon-item .body {
				display: flex;
				min-height: 4.6rem;
			}
		}
	}
}

@include media-breakpoint-down(md) { 
	.specs-row  {
		flex-direction: column !important;
		width: 100%;

		.spec-block {
			width: 100%;
		}
	}
}

.specs {
	th {
		min-width: 10rem;
	}

	td {
		min-width: 15rem;
		text-align: right;
	}

	table {
		min-width: 30%;
	}
}

@include media-breakpoint-down(lg) { 
	.specs {
		flex-direction: column !important;
		gap: 0 !important;

		table {
			margin-bottom: 0;
			tr {
				display: flex;
			}
			th {
				min-width: 50%;
				max-width: 50%;
			}
			td {
				min-width: 50%;
				max-width: 50%;
			}
		}
	}
}

.blueprint {
	text-align: center;
	img {
		max-height: 30rem;
	}
}

